footer {
    .seguinos {
        font-family: $fuente-principal;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem;
        width: 100%;}

    div { 
        h3 {
            font-family: $fuente-principal;}
    }
    div {
        .redes {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 2rem;
        }
    }
}

footer {
    .seguinos2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $fuente-principal;
        background-color: $color-principal;
        padding: 3rem;
        }

        div { 
            h3 {
                font-family: $fuente-principal;}
        }
        div {
            .redes {
                display: flex;
                flex-direction: row;
                list-style: none;
                gap: 2rem;
            }
        }
}