.contenedorNav {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
            a {
                text-decoration: none;
                font-family: $fuente-principal;
                color:black;
                padding-bottom: 2rem;
                    h1 {
                        font-family: 'Bungee Shade', cursive;
                        font-size: 4rem;
                        padding-left: 1rem;
                        &:hover{ color: $color-principal;}
                    }
                }
            nav {
                .navbar {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    padding-top: 4rem;
                    padding-left: 4rem;
                    gap: 30px;
                    font-size: 2rem;
                    
                    li { 
                        a { &:hover{ color: $color-principal;} } 
                    }
                    }
                }
            }


            .contenedorNavAzul {
                display: flex;
                flex-direction: row;
                justify-content: baseline;
                background-color: $color-principal;
                    a {
                        text-decoration: none;
                        font-family: $fuente-principal;
                        color:black;
                        padding-bottom: 2rem;
                        .menuNavegador {
                                font-family: 'Bungee Shade', cursive;
                                font-size: 4rem;
                                padding-left: 1rem;
                                background-color: $color-principal;
                                &:hover{ color: red;}
                            }
                        }
                    nav {
                        .navbarAzul {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            list-style: none;
                            padding-top: 4rem;
                            padding-left: 4rem;
                            gap: 30px;
                            font-size: 2rem;
                            background-color: $color-principal;
                            width: 100%;

                            li { 
                                a { &:hover{ color: red;} } 
                            }
                            }
                        }
                    }
