main {
    .estiloMenu { 
        font-family: 'Press Start 2P', cursive; 
        padding: 2rem;
        padding-bottom: 10rem;
        @include grid (1fr 1fr,auto auto auto,none,"menuSeleccion menuSeleccion""menuParrafos menuImagen""haceTuPedido1 haceTuPedido1",center,center);
    
    .menuSeleccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        grid-area: menuSeleccion;
        font-size: 25px;
        margin-bottom: 5rem;

        h2 {
            align-items: center;
            text-align: center;
            color: black;
        }
    }

    .menuParrafos  {
        grid-area: menuParrafos;
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        
    }
}

.menuImagen { 
    display: flex;
    width: 100%;
    padding: 2rem;
    grid-area: menuImagen;
    justify-content: center;
    align-content: center;

    img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
.haceTuPedido1 {
    grid-area: haceTuPedido1;
    display: flex;
    justify-self: center;
    align-self: center;

    a {
        border: none;
        border-radius: 10px;
        color: white;
        background-color: red;
        padding: 10px 20px;
        text-align: center;
        justify-self: center;
        align-self: center; 
        padding: 2rem;
    }
}
}