main {
    .gridContacto {
        margin-bottom: 10rem;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "contactoFormulario sucursales";  
        
        .contactoFormulario {
            grid-area: contactoFormulario;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-family: $fuente-principal;
                font-size: 2rem;
                color:$color-principal;
                padding: 2rem;
                margin: 5rem;
            }

            form { 
                font-family: $fuente-principal;
                font-size: 16px;
                padding: 4rem;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10rem;
                border-radius: 3px;
                background-color: $color-principal;
                width: 350px;

                input {
                    padding: 0.5rem;
            }
        }  
    }

    .sucursales { 
        font-family: $fuente-principal;
        grid-area: sucursales;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
        
        h2 { 
            color: $color-principal;
            font-size: 2rem;
            padding: 2rem;
            margin-top: 5rem;
        }

        h3 { 
            font-size: 1.5rem;}
        
        p {
            font-size: 1rem;
            
            }

        iframe {
            padding-bottom: 5rem;}
    }
}

}